.header {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 64px;
}

.container1 .left-side {
    display: flex;
    flex-direction: column;
    
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 5px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

#button {
    display: flex;
    flex-direction: flex-start;
    border: none;
    border-radius: 2%;
    padding: 5px 10px;
    background-color: #3882F6; 
    color: #f9faf8;
}
.container1 img {
    width: 300px;
    height: auto; 
    margin-left: 20px;   
}

.container2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 20px;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
}

.container4 {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 100px;
    height: auto;
    text-align: justify;
    justify-content: space-between;
    color: #1f2937;
    font-size: 18px;
    margin-bottom: 32px;
}

.container4 img {
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
}

.quote {
    background-color: #e5e7eb;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 16px 24px;
}

.author {
    background-color: #e5e7eb;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
    padding-right: 16px;
    padding-bottom: 32px;
}

.container5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: #3882F6;
    padding: 32px;
    margin: 32px auto 32px auto;
    color: #e5e7eb;
    font-size: 18px;
}

.container5.left-side {
    display: flex;
    flex-direction: column;
}

.footer-button {
    border: solid 2px;
    border-color: #e5e7eb;
    border-radius: 10%;
    padding: 5px 10px;
    margin-left: 30px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}